.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.content {
  grid-column: 3 / 11;
}

@media screen and (max-width: 860px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 20px;
  }

  .content {
    grid-column: 1 / 5;
  }
}